$blue: #5ba2d5;
$lightcolor: #F7F7F9;
$yellow: #eec605;

span {
    color: $blue;
}
span:hover {
    color: black;
}

nav {
    background-color: black;
    .navbar-brand {
        color: $blue;
    }
    .navbar-brand:hover {
        color: $lightcolor;
    }
    a {
        color: $lightcolor;
    }
    a:hover {
        color: $yellow;
    }
    margin-bottom: 1vw;
}

// .view-container {
//     display: block;
// }

#myModal {
    .btn {
        background-color: $lightcolor;
    }
    .submit-btn {
        background-color: $yellow;
        color: $lightcolor;
    }
    .btn:hover {
        background-color: black;
    }
    .view-comments {
        color: $blue;
    }
    .view-comments:hover {
        color: black;
    }
}

ul {
    // align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    // background: #cacaca;
    margin: auto;
    // padding: 0;
}
li {
    .article-card {
        border-radius: 0;
        background-color: white;
        border-color: white;
        border-top-color: $blue;
        border-bottom-color: $yellow;
        border-width: 3px 0px;
        // border-top-width: 3px;;
      
        a {
            margin: 2vw;
            text-align: center;
            color: black;
        }
        a:hover {
            color: $blue;
            text-decoration: none;
            // font-style: italic;
        }
        width: 31%;
        display: inline-flex;
        margin: 0.5vw;
        height: 33vw;
        overflow: auto; 
        img {
            width:200px;
            height:200px;
            object-fit:cover;
            border-radius:100%;
            border-color: $blue;
            border-width: 5px;
        }
        .card-text {
            padding: 1vw;
            background-color: $lightcolor;
        }
    }
    display: inline;
    list-style-type: none;
}

#myModal {
    textarea {
        width: 100%;
        min-height: 2.8vw;
    }
}

.desc {
    max-height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.desc.expand {
    max-height: 250px;
}

