$blue: #5ba2d5;
$lightcolor: #F7F7F9;
$yellow: #eec605;

span {
    color: $blue;
}
span:hover {
    color: black;
}

nav {
    background-color: black;
    .navbar-brand {
        color: $blue;
    }
    .navbar-brand:hover {
        color: $lightcolor;
    }
    a {
        color: $lightcolor;
    }
    a:hover {
        color: $yellow;
    }
    margin-bottom: 1vw;
}

#myModal {
    .btn {
        background-color: $lightcolor;
    }
    .submit-btn {
        background-color: $yellow;
        color: $lightcolor;
    }
    .btn:hover {
        background-color: black;
    }
    .view-comments {
        color: $blue;
    }
    .view-comments:hover {
        color: black;
    }
}

ul {
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
li {
    .article-card {
        border-radius: 0;
        background-color: white;
        border-color: white;
        border-top-color: $yellow;
        border-bottom-color: $blue;
        border-width: 3px 0px;
        
        width: 31%;
        display: inline-flex;
        margin: 1vw;
        height: 33vw;
        overflow: auto; 
       
        .card-text {
            padding: 1vw;
            background-color: $lightcolor;
        }
        .upper-card{
            text-align: center;
            img {
                padding: 0vw;
                width:200px;
                height:200px;
                object-fit:cover;
                border-radius:100%;
                border-color: $blue;
                border-width: 5px;
            }
            a {
                margin: 2vw;
                color: black;
            }
            a:hover {
                color: $blue;
                text-decoration: none;
            }
            span.star {
                font-size: 2em;
                float: right;
            }
            span.star.unsaved {
                color: $blue;
            }
            span.star.saved {
                color: $yellow;
            }
            span.star:hover {
                color: $yellow;
            }
        }
        .comments-container {
            .card-body {
                padding: 0.5vw;
            }
            .card-text {
                background-color: white;
                padding: 0vw;
            }
        }
    }
    display: inline;
    list-style-type: none;
}

#myModal {
    textarea {
        width: 100%;
        min-height: 2.8vw;
    }
}

.desc {
    max-height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.desc.expand {
    max-height: 250px;
}

